img {
    width: 300px !important;
}

.y {
    height: 200px !important;
    margin-left: auto;
    margin-right: auto;
}

#Sliders {
    position: relative;
    width: 100%;
    display: inline-block;
}

.Group {
    width: calc(100% / 3 - 6px);
    margin-left: 3px;
    height: 100%;
    float: left;
}

@media (max-width: 500px) {
    .Group {
        width: calc(50% - 3px);
    }
}

.Title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.Group .Button {
    width: 100%;
}

.Button {
    clear: both;
    margin-top: 5px;
}