{% extends 'base.html' %}
{% block Title %}
    Home Page
{% endblock %}
{% block Content %}
    <h1> Home Page </h1>
    <div class="row">
        {% load static %}
        {% get_media_prefix as MEDIA_PREFIX %}
        {% for composition in compositions %}

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top"
                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                         alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                         src="{{ MEDIA_PREFIX }}/{{ composition.thumbnail }}"
                         data-holder-rendered="true">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'show_composition' composition.id%}"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                            <div>
                                <small class="text-muted"><b>{{ composition.creator.username }}</b></small>
                                <br>
                                <small class="text-muted"><b>{{ composition.created_at }}</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}