{% extends 'base.html' %}

{% block Title %}
    Variation
{% endblock %}
{% block Head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/examples.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_variation.css' %}">

    <script src="{% static 'js/Tone.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/draggabilly.js' %}"></script>
    <script src="{% static 'js/StartAudioContext.js' %}"></script>
    <script src="{% static 'js/Interface.js' %}"></script>
    <script src="{% static 'js/mixer.js' %}"></script>
    <script src="{% static 'js/mixer-interface.js' %}"></script>
    <script src="https://tonejs.github.io/Logo/build/Logo.js"></script>

{% endblock %}
{% block Content %}
    <div id="Content">
        <div id="Sliders"></div>
    </div>

    <script>
        {%  get_media_prefix as MEDIA_PREFIX %}
        var all_players = [];

        {% for member in track_in_variation %}
            makeFader("{{ member.track.track_file }}", "{{ member.track.instrument }}", {{ member.track.id }},
                {{ MEDIA_PREFIX }}, {{ member.start_timing }}, {{ member.stop_timing }});
        {% endfor %}
        create_mixer_interface();
    </script>

{% endblock %}
