{% extends 'base.html' %}
{% block Title %}
    {{ composition.name }}
{% endblock %}
{% block Content %}
    <div class="text-center">
        <div class="container">
            <div class="jumbotron">
                <h1>{{ composition.name }}</h1>
                <i> Creator: {{ composition.creator.username }}, Created at: {{ composition.created_at }} </i> <br>
                {% if tracks.count > 0 %}
                    <a class="btn btn-primary" href="{% url 'create_variation' composition.id %}">Create a Variation for
                        this
                        Composition</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'create_track' composition.id %}">Add a Track for this
                    Composition</a>
                <br><br>
                <h2> All available tracks for this composition: </h2> <br>

                {% for track in tracks %}
                    <h5> {{ track.instrument }} - <i> <a
                            href="{% url 'profile' track.creator.username %}">{{ track.creator.username }} </a></i></h5>
                    <br>
                    {% load static %}
                    {% get_media_prefix as MEDIA_PREFIX %}
                    <audio controls>
                        <source src="{{ MEDIA_PREFIX }}{{ track.track_file }}" type="audio/mp3">
                    </audio>
                    {% if composition.creator.id == user.id %}
                        <a href="{% url 'delete_track' track.id %}"
                           class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                    {% if user not in track.liked_users %}
                        <a class="btn btn-outline-dark" href="{% url 'like_button' track.id%}">{{ track.likes }} 👍🏻</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'like_button' track.id%}">{{ track.likes }} 👍🏻</a>
                    {% endif %}

                {% endfor %}
                <br>
                <h2> All available variations for this composition: </h2> <br>

                {% for variation in variations %}
                    <div><h3><a href="{% url 'show_variation' variation.id %}">{{ variation.name }} </a> -
                        <a href="{% url 'profile'  variation.creator.username %}"><i> {{ variation.creator.username }}</i></a></h3></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}